
@media screen and (min-width: 390px) and (max-width: 1199px) {
  .headerNav {
    display: none;
  }
  .headerSearch {
    display: none;
  }
  .headerLogo {   
    position: absolute;
    left: 30%;
    top: 25%;
     
  }
  .headerBurger {
    position: absolute;
    top: 50%;
    left: 24px;
  }

  .headerBurgerMenu {
    width: fit-content;
    height: fit-content;
    z-index: 10;
  }
}

@media screen and (min-width: 1200px) {
   .headerNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
   }

   .headerSearch {
    position: relative;
    // margin-left: 96px;
  }

  .links {
    display: flex;
    flex-direction: row;
  }

  
  .navLink {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    position: relative;
  }
  .navLink:hover {
    padding: 0 10px;
    color :#45372E;
    transform: scale(1.2);
    transition: 300ms linear;
  }   

  .navLink:hover .subNavLink {
    max-height: fit-content;
    overflow: visible;
    transition: 400ms;
  }

  .subNavLink { 
    max-height: 0;    
    overflow: hidden;  
    
  //   position: absolute;
  //   top: 100%; 
  //   left: 0;
  //   width: fit-content; 
  //   z-index: 1; 
  //   padding: 10px;   
  //  overflow: hidden;
  }

  .subNavLink:hover
  .subNavLink:focus {
    max-height: fit-content;
    overflow: visible;
    
  }  
}