// For Mobile
@media screen and (min-width: 390px) and (max-width: 767px) {
    .heroMob {
        width: 100vw;
        aspect-ratio: 16 / 9;
    }

    .heroDT {
        display: none;
    }
}

// ___________________________________________________________________________________________________________
// For Tablet

@media screen and (min-width: 768px) {
    .heroMob {
        width: 100vw;
        aspect-ratio: 16 / 9;
    }
    .heroDT {
        display: none;
    }
    
}
// ___________________________________________________________________________________________________________
// For Desktop

@media screen and (min-width: 1200px) {
    .heroMob {
        display: none;
    }
    .heroDT {
        width: 100vw;
        height: fit-content;
    }
}