// FOR MOBILE
@media screen and (min-width: 390px) and (max-width: 767px) {
    .bsDtSwiperInner{
        display: none;
    }

    .advantageLineContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        padding: 20px 0;
        
    }
    .imgLine {
        display: flex;
        width: 350px;
        align-items: center;
        height: 1px;
        color: #000;
    }
    .bsTabSwiper {
        display: none;
    }
}

// ________________________________________________________________________________________________________________________
// FOR TABLET
@media screen and (min-width: 768px) and (max-width: 1399px) {
    // виключаємо мобільний свайпер
    .bsMobSwiper {
        display: none;
    }
    // виключаємо десктоп свайпер
    .bsDtSwiper {
        display: none;
    }
    .bsTabSwiper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bsDtSwiperInner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        
    }
    .bestsellerImg {
        height: 434px;
        width: 306px;               
    }
    // .bestsellerImg:first-child{
    //     margin-left: 56px;
    // }
    // .bestsellerImg:last-child {
    //     margin-right: 56px;
    // }
    .bestsellerTextContainer {        
        width: 289px;
        height: 85px;
    }

    .bestsellerBtm {
        display: flex;
        align-items: center;
        border: 1px solid black;
        padding: 15px 92px;
        background-color: #fff;
    }
}

// ________________________________________________________________________________________________________________________
// FOR DESKTOP
@media screen and (min-width: 1400px) {
    .bsMobSwiper {
        display: none;
    } 
    .bsTabSwiper {
        display: none;
    }
    .bsDtSwiper {
        display: flex;
        width: 100%;        
        margin: 0 auto;
       
    }
 
    .bsDtSwiperInner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        height: fit-content;
        padding-bottom: 30px;        
    }
    .bestsellerTextContainer {        
        width: 250px;
        height: 85px;
    }
    .bestsellerText {
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
    }

    .bestsellerImg {
        height: 440px;
        width: 250px;
    }
    .bestsellerBtmContainer {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        
    }
    .bestsellerBtm {
        display: flex;
        align-items: center;
        border: 1px solid black;
        padding: 10px 77px;
    }
    .swiper-button-prev {
        color: black;
    }

    .advantageLineContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        padding: 42px 0;
        
    }
    .imgLine {        
        align-items: center;
        width: 1200px;
        height: 1px;
        color: #000;
    }
}
